.homePageContainer {
    width: 100%;
    padding: 1rem 2rem;
    .streamers, .form {
        margin-bottom: 1.5rem;
        width: 100%;
    }
    .streamers{
        &__title{
            color: $color-secondary;
            margin-bottom: 16px;
            padding: .7rem 0;
        }
    }
    .form {
        .toggleFormBtn {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-flow: row nowrap;
            background-color: $color-secondary;
            color: $color-white;
            font-size: 1.25rem;
            padding: .7rem 1rem;
            border-radius: 0.3125rem;
            border: 3px solid $color-secondary;
        }
    }
}

@media (min-width: 900px) {

    .homePageContainer {
        max-width: 1200px;
        display: flex;
        flex-flow: row-reverse nowrap;
        gap: 2rem;
        .form{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                left: calc(-1rem - 1px);
                width: 2px;
                height: 120%;
                background-color: $color-secondary;
            }
        }
    }
    
}